// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title {
  font-size: 4em;
  color: Green;
}

body { 
background-image: image-url("latest-blue-vintage-background-background-patterns-others.jpg"); 

}